{% block subject %}Highlights{% endblock %}

{% block body %}
    <div class="header" style="padding: 80px; text-align: center; background: #bc3d1a; color: white;">
        <h1 style="font-size: 40px;">Since your last login, you missed some exciting posts.</h1>
        <p>Check them out...</p>
    </div>

    <div class="row-structure" style="display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap;">
        <div class="chat" style="-ms-flex: 30%; flex: 30%; background-color: #f1f1f1; padding: 20px;">
            <h2>Someone tried to contact you</h2>

            <div class="img-contact">Profile 1</div><br>
            <p> An overview of the message</p>
            <div class="img-contact ">Profile 2</div><br>
            <p> An overview of the message</p>
        </div>

        <div class="post-events" style="-ms-flex: 70%; flex: 70%; background-color: white; padding: 20px;">
            <h2>News at Speakap!</h2>
            <div class="post">
                <h5>Post Title</h5>
                <div class="img-posts-events" style="background-color: #aaa; width: 100%;height:200px;padding: 20px;"></div>
                <p> Overview of the post. Maybe the 4-5 first rows of text?.</p>
                <br>
            </div>
            <div class="post">
                <h5>Post Title</h5>
                <div class="img-posts-events" style="-ms-flex: 70%; flex: 70%; background-color: white; padding: 20px;"></div>
                <p> Overview of the post. Maybe the 4-5 first rows of text?.</p>
                <br>
            </div>

            <div class="post">
                <h5>Post Title</h5>
                <div class="img-posts-events" style="-ms-flex: 70%; flex: 70%; background-color: white; padding: 20px;"></div>
                <p> Overview of the post. Maybe the 4-5 first rows of text?.</p>
                <br>
            </div>
        </div>
    </div>

    <div class="footer" style="padding: 20px;text-align: center; background: #ddd;">
        <h2>Speakap helps you to contact your colleagues :)</h2>
        <a href= "https://apps.apple.com/us/app/speakap/id713925262"> Download the iOS app here</a> <br>
        <a href= "https://play.google.com/store/apps/details?id=nl.speakap.speakap&hl=nl&gl=US"> Download the Android app here</a>
    </div>
{% endblock %}
